@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}
#h2 {
  padding-top: 32px;
  color: #003559;
  font-family: Lato;
  font-size: 22px;
  font-weight: 900;
  margin-left: 150px;
}

.hero {
  height: 900px;
  background-color: #bad7f2;
  position: relative;
}

.links {
  margin-top: 35px;
}

.links a {
  color: #003559;
  text-decoration: none;
  padding-right: 45px;
  font-size: 14px;
  font-weight: bold;
}
.links a:hover {
  color: white;
  transform: scale(1.7);
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 7%;
  margin-bottom: 10px;
}

#icon2 {
  background-color: #003559;
  padding: 10px;
}
#icon1 {
  height: 20px;
  padding-top: 15px;
}

main {
  /* border: 2px solid black; */
  /* height: 500px; */
  width: 90%;
  margin-top: 60px;
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
}

.main1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 446px;
  width: 478px;
  color: #003559;
  padding-left: 100px;
  padding-top: 135px;
}
#btn {
  width: 39%;
  padding: 20px 20px;
  background-color: #003559;
  color: white;
  border: none;
  margin-top: 15px;
}
#btn {
  cursor: pointer;
}

#h1 {
  font-family: "playfair display";
  font-size: 70px;
  font-weight: 700;
  line-height: 78px;
  color: #061a40;
}
#p1 {
  font-size: 22px;
  font-weight: 400;
  font-family: Lato;
  line-height: 39px;
}
.main2 {
  position: relative;
  height: 640px;
  width: 587.16px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#arrowdown {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #003559;
  padding: 25px;
  padding-top: 40px;
  padding-bottom: 30px;
}
#vector {
  position: absolute;
  top: 0px;
  left: 0px;
}

#secondvector {
  position: absolute;
  left: 0px;
  top: 180px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.body2 {
  height: 140vh;
  position: relative;
}

.secondh1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "playfair display";
  font-size: 64px;
  font-weight: 700;
  padding-top: 150px;
  padding-bottom: 50px;
  color: #061A40;
}
#thirdvector{
  position: absolute;
  z-index: 1;
  left: 45px;
}
#fourthvector{
  position: absolute;
  z-index: -1;
  bottom: -40px;
  right: -40px;
}

.image {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #003559;
  font-weight: bolder;
}
#leftarrow {
  position: absolute;
  background-color: #003559;
  bottom: 250px;
  padding: 18px;
  cursor: pointer;
}
#rightarrow {
  position: absolute;
  background-color: #003559;
  bottom: 250px;
  left: 290px;
  padding: 18px;
  cursor: pointer;
}
/* #bluebox {
  position: absolute;
  right: 500;
  bottom: 0; */

.hero3 {
  height: 130vh;
  background-color: #BAD7F2;
}

.body3 {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
}

#fifthvector{
  position: absolute;
  left: -50px;
  top: -50px;
}

.main4 {
  position: relative;
  margin-left: 80px;
  margin-top: 85px;
}
#explorebutton {
  position: absolute;
  bottom: 50px;
  left: 135px;
  padding: 15px 40px;
  background-color: white;
  border: none;
  cursor: pointer;
  color: #003559;
  font-weight: 900;
}

.main5 {
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 40%;
  padding-top: 25px;
}
article {
  display: flex;
  height: 200x;

  justify-content: space-between;
}
article span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: #003559;
  width: 30%;
  height: 130px;
  font-family: "playfair display";
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}
#bestfashion1 {
  color: #003559;
  font-size: 64px;
  font-family: "playfair display";
  font-weight: 700;
  width: 530px;
  line-height: 70px;
}
#bestfashion2 {
  color: #003559;
}
#bestfashion {
  background-color: #003559;
  color: white;
}

#bestfashion3 {
  color: #003559;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hero4 {
  height: 200vh;
}

.bestsellers {
  font-size: 80px;
  margin-left: 50px;
  color: #003559;
}
.heading3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.nav2 a {
  text-decoration: none;
  color: #003559;
  padding: 0px 20px;
  margin-right: 70px;
}

.nav2 a:hover {
  text-decoration: underline;
  transform: scale(1.3);
}

.image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}
.image3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.hero5 {
  height: 105vh;
  background-color: #BAD7F2;
  position: relative;
}

#union{
  position: absolute;
}

#union1{
  position: absolute;
}


.body5 {
  display: flex;
  /* border: 2px solid black; */
  justify-content: space-evenly;
  align-items: center;
}
.article2 {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.span2 {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
#deal {
  font-size: 49.98px;
  color: #003559;
  font-weight: 700;
}

#dealimage{
  margin-top: 20px;
}

#deal2 {
  font-size: 17px;
  color: #003559;
}
.shopnow {
  margin-top: 20px;
  width: 60%;
  padding: 20px 10px;
  background-color: #003559;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 18px;
  font-family: Lato;
}

#span2 {
  background-color: #003559;
  color: white;

}
span p{
  font-family: "playfair display";
}

#union{
position: absolute;
bottom: 25px;
right: 580px;
}

#union1{
  position: absolute;
  right: 150px;
  top: 55px;
}




.hero6 {
  height: 70vh;
  background-color: #003559;
}
.body6 {
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  padding-top: 10%;
}
.footer1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}
.footer2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}

.copyright {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: white;
}
